$ubt-purple: #6F7DBC;
$ubt-gray: #36373c;
$ubt-orange: #f8981c;
$white: #fff;

$mainFont: 'Roboto';
$headingFont: 'Roboto';
$linkColor: $ubt-purple;
$linkColorHover: lighten($linkColor, 20%);
$selectionBackgroundColor: $ubt-orange;
