section {
	img {
		border: 0 !important;
	}

	pre {
		box-shadow: none !important;
		width: 100% !important;

		.hljs {
			box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
		}
	}

	&.content-slide {
		text-align: left;
		top: 40px !important;
	}

	&.title-slide {
		color: $ubt-gray;
		text-align: left;
		top: 0 !important;
	}

	.section-title {
		color: $white;
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.section-subtitle {
		color: $ubt-purple;
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.page-title {
		color: $white;
		font-size: 60px;
		margin-bottom: 20px;
		text-transform: capitalize;
	}
}

.final-image-container {
	img {
		background-color: transparent !important;
		box-shadow: none !important;
	}

	.banana {
		margin-left: 100px;
		margin-top: 50px;
		position: absolute;
		width: 200px;
	}

	.whale {
		margin-top: 100px;
		width: 600px;
	}
}

.slide-background {
	&.present {
		background-size: 100% 100%;
	}
}